.homepage {
  margin: 20px 0 0 40px;
  position: relative;
  width: 500px;
  color: #e0e1dd;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 158.687%;
  letter-spacing: 2.4px;
}
